DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=db_name
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_MIGRATION_DIR=drizzle

SECRET_KEY=super-secret-key
REFRESH_KEY=super-secret-refresh-key

PORT=3000

LOCAL_STORAGE_PATH=./uploads

#S3_BUCKET=your-bucket-name
#S3_REGION=us-east-1
#S3_ACCESS_KEY=your-access-key
#S3_SECRET_KEY=your-secret-key
#S3_ENDPOINT=http://localhost:9000
